

.header__content{
    justify-content: space-between;
    align-items: center;
    padding: 46px;
    max-width: 100%;
   
}
.header__logo{
    margin-right: 297px;
}
.search{
    font-size: 16px;
    color: #718096;
    margin-left: 6px;
    
}
.header__search--icon{
    margin-right: 6px;
}


.burger__list{
    font-size: 16px;
    color: #000000; 
}

.burger__menu{
    background: rgb(71, 70, 70);
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.burger__line{
    width: 30px;
    height: 5px;
    background: white;
}
.burger__close{
    color:#fff;
    display: none;
    font-style: 40px;
}

.burger__menu.active .burger__close{
    display: none;
}

.burger__menu.active ~ .burger__list{
    display: block; 
}

.burger__menu.active .burger__line{
    display: none;
}

.instagram:hover{
    
    box-shadow: 0px 0px 15px red;
}
.twiter:hover{
    box-shadow: 0px 0px 15px rgb(2, 170, 248);
}
.in:hover{
    box-shadow: 0px 0px 15px rgb(6, 51, 175); 
}